<!DOCTYPE html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/Design.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
	</head>
	<body>
		
		<div id="homenav">
			<center>
			<h2 style="font-family: 'Oswald', sans-serif;">TIMETABLE<br>PORTAL</h2>
			<ul>
				<li><a href="/addCourse">Home</a></li>
				<li><a href="/addEvent">Upload Timetable</a></li>
				<li><a href="/login">Logout</a></li>
			</ul>
			</center>
		</div>

		<content>
			<h1 style="font-family: 'Oswald', sans-serif;">
				KNOW ABOUT US...
			</h1>
			<h2>
				"THE TIMETABLE PORTAL"  was created and is managed by team CRYPTON.<br> 
			</h2>
			<center><h1><font face="moonhouse" color="white">TEAM CRYPTON</font></h1></center>
			<font size="100px" color="white">
			<ul>
				<li>SAMARTH SAXENA</li>
				<li>ROHAN JAIN</li>
				<li>KARANJOT SINGH</li>
			</ul></font>
			<h2>First Year students of Indraprastha Institute of Information Technology, Delhi.</h2>

		</content>
		
	</body>

</html>